---
comics:
  __nonsequitur:
    ident: '%Y/%m/%d'
    last: 2011/09/27
    pattern: "<img alt=\"Non Sequitur\"[^>]*src=\"([^\"]+)\""
    type: frompagedate
    url: http://www.gocomics.com/nonsequitur/%s
  boondocks:
    ident: '%Y/bo%y%m%d'
    last: 2011/bo110929
    type: date
    url: http://images.ucomics.com/comics/bo/%s.gif
  ch:
    ident: '%Y/ch%y%m%d'
    last: 2011/ch110929
    type: date
    url: http://images.ucomics.com/comics/ch/%s.gif
  drmcninja:
    ident:
      - '%Y-%m-%d'
      - '-'
      - book
      - p
      - page
    last:
      - 2011-09-28
      - '-'
      - 21
      - p
      - 88
    type: mixed
    url: http://drmcninja.com/comics/%s.jpg
  evilcomic:
    ident: '%Y%m%d'
    last: 20110929
    type: date
    url: http://evil-comic.com/comics/e%s.jpg
  girlgenius:
    ident: '%Y%m%d'
    last: 20110928
    type: date
    url: http://www.girlgeniusonline.com/ggmain/strips/ggmain%s.jpg
  leasticoulddo:
    ident: '%Y%m%d'
    last: 20110929
    type: date
    url: http://cdn.leasticoulddo.com/comics/%s.gif
  lfg:
    ident: '%d'
    last: 500
    pattern: "<div id=\"comic\">[\\s]*<img[^>]*src=\"([^\"]+)\""
    type: frompagecounter
    url: http://lfgcomic.com/page/%s
  menagea3:
    ident: '%Y%m%d'
    last: 20110929
    type: date
    url: http://zii.menagea3.net/comics/mat%s.png
  oots:
    ident: '%04d'
    imagebase: http://www.giantitp.com
    last: 0807
    pattern: "<img src=\"(/comics/images/[^\"]+)\""
    type: frompagecounter
    url: http://www.giantitp.com/comics/oots%s.html
  sinfest:
    ident: '%Y-%m-%d'
    last: 2011-09-29
    type: date
    url: http://sinfest.net/comikaze/comics/%s.gif
  smbc:
    ident: '%Y%m%d'
    last: 20110929
    type: date
    url: http://www.smbc-comics.com/comics/%s.gif
  tehgladiators:
    ident: '%d'
    last: 275
    type: counter
    url: http://www.tehgladiators.com/comic/%s.jpg
  wulffmorgenthaler:
    ident: '%Y%m%d'
    last: 20110929
    type: date
    url: http://wulffmorgenthaler.com/img/strip/-WM_strip_DK_%s.jpg
  xkcd:
    ident: '%d'
    last: 957
    pattern: "<img src=\"(http://imgs.xkcd.com/comics/[^\"]+)\""
    type: frompagecounter
    url: http://xkcd.com/%s/
from_address: ADD_ADDRESS
message_body: "\"Quote for today:\\n\\n\".`fortune`.\"\\n-- \\ncomics for people\\n\\n\\n\""
send_to_emails:
  - somewhere@somewhere.com
subject: '[GMC] Comics %d.%m.%Y'
timezone: local
